[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
django = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
ccxt = "*"
djangorestframework-camel-case = "*"
dj-database-url = "*"

[requires]
python_version = "3.7"
